<div class="container">

  <div class="content-left">

    <div class="top-bar">
      <div class="title">
        <h1>Angular - three.js example</h1>
      </div>

      <div class="top-bar-separator"></div>

      <div class="canvas-controls">
        <p-button styleClass="control-btn" *ngIf="uiHelperService.mobileView || uiHelperService.tabletView" (click)="settingSidebarVisible = !settingSidebarVisible"><i
          class="pi pi-list"></i></p-button>
        <p-button styleClass="control-btn"><img alt="3D nézet" (click)="setCameraView(CameraView.DEFAULT, true)" ngSrc="assets/icons/icons8-orthogonal-view.svg" height="48" width="48"></p-button>
        <p-button styleClass="control-btn"><img alt="Előlnézet" (click)="setCameraView(CameraView.FRONT, true)" ngSrc="assets/icons/icons8-front-view.svg" height="48" width="48"></p-button>
        <p-button styleClass="control-btn"><img alt="Felülnézet" (click)="setCameraView(CameraView.TOP, true)" ngSrc="assets/icons/icons8-top-view.svg" height="48" width="48"></p-button>
        <p-button styleClass="control-btn"><img alt="Odalnézet balról" (click)="setCameraView(CameraView.LEFT, true)" ngSrc="assets/icons/icons8-left-view.svg" height="48" width="48"></p-button>
        <p-button styleClass="control-btn"><img alt="Oldalnézet jobbról" (click)="setCameraView(CameraView.RIGHT, true)" ngSrc="assets/icons/icons8-right-view.svg" height="48" width="48"></p-button>
      </div>
    </div>

    <div #canvasContainer class="main-view">
      <canvas #canvas (click)="canvasClicked($event)">
      </canvas>
    </div>

  </div>

  <div class="content-right" *ngIf="!uiHelperService.mobileView && !uiHelperService.tabletView">

    <app-model-setting (reloadClickedEvent)="loadSampleModels()" [modelList]="sampleModels" [modelsLoaded]="sampleModelsLoaded" #modelSettingComponent></app-model-setting>

  </div>

</div>

<p-sidebar *ngIf="uiHelperService.mobileView || uiHelperService.tabletView" [(visible)]="settingSidebarVisible" [position]="'right'" [showCloseIcon]="false">

  <app-model-setting (reloadClickedEvent)="loadSampleModels()" [modelList]="sampleModels" [modelsLoaded]="sampleModelsLoaded" #modelSettingComponent>
    <p-button icon="pi pi-times" (click)="settingSidebarVisible = false"></p-button>
  </app-model-setting>

</p-sidebar>
