<div class="container">

  <div class="content-left">

    <div class="canvas-controls">
      <p-button styleClass="control-btn" *ngIf="uiHelperService.mobileView" (click)="settingSidebarVisible = !settingSidebarVisible"><i class="pi pi-list"></i></p-button>
      <p-button styleClass="control-btn"><img alt="3D nézet" ngSrc="assets/icons/icons8-orthogonal-view.svg" height="48" width="48"></p-button>
      <p-button styleClass="control-btn"><img alt="Előnézet" ngSrc="assets/icons/icons8-front-view.svg" height="48" width="48"></p-button>
      <p-button styleClass="control-btn"><img alt="Felülnézet" ngSrc="assets/icons/icons8-top-view.svg" height="48" width="48"></p-button>
      <p-button styleClass="control-btn"><img alt="Odalnézet balról" ngSrc="assets/icons/icons8-left-view.svg" height="48" width="48"></p-button>
      <p-button styleClass="control-btn"><img alt="Oldalnézet jobbról" ngSrc="assets/icons/icons8-right-view.svg" height="48" width="48"></p-button>
    </div>

    <canvas class="main-view">

    </canvas>

  </div>

  <div class="content-right" *ngIf="!uiHelperService.mobileView">

    <app-model-setting></app-model-setting>

  </div>

</div>

  <p-sidebar *ngIf="uiHelperService.mobileView" [(visible)]="settingSidebarVisible" [position]="'right'">

    <app-model-setting></app-model-setting>

  </p-sidebar>
