<p-table styleClass="p-table-small-caption" [value]="modelList" [(selection)]="selectedModel" selectionMode="single" dataKey="index" (selectionChange)="selectionChanged()">

  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      Modellek
      <div class="model-setting-buttons">
        <p-button icon="pi pi-refresh" (click)="clearSelection(); reloadClickedEvent.emit()" [disabled]="!modelsLoaded"></p-button>
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">
        <p-checkbox [disabled]="true"></p-checkbox>
      </th>
      <th>
        Megnevezés
      </th>
      <th class="text-center">
        #
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-model>
    <tr [pSelectableRow]="model">
      <td class="text-center" (click)="uiHelperService.stopPropagation($event)">
        <p-checkbox [binary]="true" [(ngModel)]="model.visible" (click)="setModelVisibility(model)"></p-checkbox>
      </td>
      <td>
        {{model.name}}
      </td>
      <td class="text-center">
        <p-button icon="pi pi-cog" styleClass="p-button-rounded p-button-secondary" (click)="selectedModel = model"></p-button>
      </td>
    </tr>
  </ng-template>

</p-table>

<div *ngIf="selectedModel">
  <hr class="mt-4 light-hr"/>

  <h2 class="mt-4">Szín:</h2>

  <div class="pl-5 pr-5 pt-3">
    <p-colorPicker [(ngModel)]="selectedModel.color" [inline]="true" (onChange)="setModelColor()"></p-colorPicker>
  </div>

  <hr class="mt-4 light-hr"/>

  <h2 class="mt-4">Átlátszóság:</h2>

  <div class="pl-5 pr-5 pt-3">
    <p-slider [(ngModel)]="selectedModel.transparency" (onChange)="setModelTransparency()"></p-slider>
  </div>
</div>
